<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add reaction</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.min.css" integrity="sha384-Htz9HMhiwV8GuQ28Xr9pEs1B4qJiYu/nYLLwlDklR53QibDfmQzi7rYxXhMH/5/u" crossorigin="anonymous">

        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.min.js" integrity="sha384-bxmi2jLGCvnsEqMuYLKE/KsVCxV3PqmKeK6Y6+lmNXBry6+luFkEOsmp5vD9I/7+" crossorigin="anonymous"></script>

        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/contrib/mhchem.min.js" integrity="sha384-F2ptQFZqNJuqfGGl28mIXyQ5kXH48spn7rcoS0Y9psqIKAcZPLd1NzwFlm/bl1mH"  crossorigin="anonymous"></script>
        <script>
        window.onload = function load_formulas() {
          for (let element of document.getElementsByName('katex')) {
            katex.render(element.innerHTML.replaceAll("&amp;", "\\&"), element, {
                throwOnError: false
        });}}</script>
  </head>
  <script>
  function search_req() {
    key = document.getElementById("search")
    if (key.value.length == 0) {
      document.getElementById('errors').value = 'No search key?'
    }
    else {
    console.log(key.value)
    window.location.replace("/api/search/"+key.value);
    }

  }
  </script>
  <body class="bg-slate-900">

      <main>
            <div class="header">
                <span><a class='nav_link' href="/addrxn">add reaction;</a></span>
                <span><a class='nav_link' href='/'>view reaction:home;</a></span>
                <span><input type="text" id="search" class="small_input" style="width: 6rem;" placeholder="search?"/>
                <button class="small_btn" onclick="search_req()">search!</button>
                <p id ="errors"></p></span>
            </div>

        <div id="reactions-main">
            <h1>{{data[0].spc_name}}</h1>
            <p>This reaction involves the conversion of [{{data[0].reactant_type.replace('&', ',')}}] to
                [{{data[0].product_type.replace('&', ',')}}]</p>
            <p>The specific reaction demonstrated here is of the conversion of [{{data[0].reactant}}] to
                [{{data[0].product}}] using catalyst <strong name="katex">[\ce{ {{data[0].catalyst}} }]</strong></p>

            <p>It is significant in that [{{data[0].significance}}]</p>
            <h2>Sample reaction</h2>
            {% for i in data[0].reactant.split('&') %}
                <img src="https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/{{i.strip()}}/PNG?image_size=240x240">
            {% endfor %}
            ->
            {% for i in data[0].product.split('&') %}
                <img src="https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/{{i.strip()}}/PNG?image_size=240x240">
            {% endfor %}

            The reaction may not be balanced.

                <p>{{data[0].description}}</p>




        </div>


        <footer class="border-t-orange-400 border-2 border-slate-900 p-4 m-6 ml-0 mr-0"></footer>
          <p>
            Amarnath K<br />
            <a href="mailto:amarnathkunnummal112@gmail.com"
              >amarnathkunnummal112(at)gmail.com</a
            >
          </p>
        </footer>
      </main>
  </body>
</html>
